*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  background-color: #195570;
  /* display: flex; */
  /* justify-content: space-around; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 2% 5%;
  /* width: 100%; */
  /* top: 0; */
  /* opacity: 0.9; */
  /* z-index: 1; */
  color: white;
}
nav {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}
nav div:nth-of-type(1) {
  display: flex;
  justify-content: flex-start;
}
nav div:nth-of-type(2) {
  display: flex;

  justify-content: space-around;
}
nav img {
  width: 200px;
  height: 50px;
}

nav a {
  /* display: inline-block; */
  margin: 0 2%;
  padding: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 900;
  color: #f0f0f0;
  transition: 0.5s;
}
nav a:hover {
  color: yellow;
  transition: 0.5s;
}
.shop-word {
  color: black;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
}
footer {
  color: white;
  background-color: #252524;
  text-align: center;
  padding: 2% 0;
}
@media (max-width: 768px) {
  nav a {
    font-size: 16px;
    margin: 0 10px;
    padding: 8px 10px;
  }
  .header {
    padding: 10px;
  }
  .header h1 {
    font-size: 20px;
  }
  .header nav a {
    margin: 0 5px;
    padding: 5px 8px;

  }

}

